* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #111;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 50px 30px;
}
.card p {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}
.card p span {
  color: royalblue;
}
.outer {
  width: 100%;
  height: 20px;
  background-color: #c5c5c5;
  border-radius: 50px;
  margin-bottom: 20px;
}
.inner {
  width: 0%;
  height: 100%;
  background-color: green;
  border-radius: 50px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom h2 {
  font-size: 50px;
}
.bottom button {
  font-size: 20px;
  font-weight: 500;
  padding: 15px 25px;
  border: 0;
  color: #fff;
  background-color: green;
  border-radius: 5px;
}
.bottom button:active {
  scale: 1.1;
}
